/* Animazione per lo sfondo arancione */
@keyframes orangeBackground {
    0% { background-color: #C51605; }
    100% { background-color: #FD8D14; }
  }
  
  /* Animazione per la comparsa e la scomparsa del testo */
  @keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  h1 {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    word-wrap: break-word;
}
  /* Stile del contenitore principale */
  .container-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FD8D14; /* Colore di sfondo iniziale */
    animation: orangeBackground 3s forwards; /* Avvia l'animazione dello sfondo */
  }
  
  /* Stile del testo */
  .text-homepage {
    font-size: 48px;
    color: #C51605;
    animation: fadeInOut 3s forwards; /* Avvia l'animazione di comparsa e scomparsa del testo */
  }
  
  /* //
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
   */