@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
}

.dark-hover{
    cursor: pointer;
}

.dark-hover:hover{
    filter: blur(90%);
    transition: 0.4s;
}

.logo-img{
    cursor: pointer;
    width: 60px;
}

.logo-img:hover{
    filter: brightness(70%);
    transition: 0.4s;
}

.img-overview{
    width: 100%;
    max-height: 140px;
}

.mt-10{
    margin-top: 10%;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.form-container{
    max-width: 500px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 15px;
}

.small-descr{
  font-size: 12px;
  color: rgb(169, 169, 169);
}

.background-yellow-shape{
  background-image: url('/images/orange_shape.png');
  background-repeat: no-repeat;
}
.cart-item {
  display: flex;
  justify-content: space-between;
}

/* Color Palette*/

.bg-rasta-green{
    background-color: #92ce5a;
}


.bg-rasta-yellow{
    background-color: #FFE17B;
}

.btn-rasta-yellow{
  @extend .btn-light;
  background-color: #FFE17B;
  border-color: black;

  &:hover
  {
    background-color: #cbb263;
    border-color: rgb(32, 32, 32);
  }
  
}

.bg-rasta-orange{
    background-color: #FD8D14;
}

.bg-rasta-red{
    background-color: #C51605;
}

.text-rasta-green{
    color: #92ce5a;
}

.text-rasta-yellow{
    color: #FFE17B;
}

.text-rasta-orange{
    color: #FD8D14;
}

.text-rasta-red{
    color: #C51605;
}



/*Stile Footer*/

.site-footer {
    background-color: #f2f2f2; /* Sfondo grigio */
    padding: 20px 0;
    color: #333;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex: 1;
    text-align: center;
  
    h3 {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 8px;
        cursor: pointer;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    input {
      padding: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 200px;
    }
  
    button {
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }