@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

.dark-hover{
    cursor: pointer;
}

.dark-hover:hover{
    filter: blur(90%);
    transition: 0.4s;
}

.logo-img{
    cursor: pointer;
    width: 60px;
}

.logo-img:hover{
    filter: brightness(70%);
    transition: 0.4s;
}

.img-overview{
    width: 100%;
    max-height: 140px;
}

.mt-10{
    margin-top: 10%;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    /* background-color:#FD8D14; */
  }

.form-container{
    max-width: 500px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 15px;
}

.bg-rasta-green{
    background-color: #92ce5a;
}

.bg-rasta-yellow{
    background-color: #FFE17B;
}

.bg-rasta-orange{
    background-color: #FD8D14;
}

.bg-rasta-red{
    background-color: #C51605;
}

.text-rasta-green{
    color: #92ce5a;
}

.text-rasta-yellow{
    color: #FFE17B;
}

.text-rasta-orange{
    color: #FD8D14;
}

.text-rasta-red{
    color: #C51605;
}
.container-cart {
    max-height: 80vh; /* Imposta un'altezza massima appropriata per il contenitore del carrello */
    position: relative;
}
  
  .container-cart > div:not(:last-child) {
    margin-bottom: 10px; /* Aggiungi un margine inferiore a tutti gli elementi del carrello, eccetto l'ultimo */
}
  
  
  
